<div class="descriptionWrapper">

    {{>projList description=true}}

    <div class="descriptionItem">
        <a href="/{{selectedProject.directory}}">
            <h1>{{selectedProject.title}}</h1>
            <img class='description' src="../{{selectedProject.directory}}/screenshot.jpeg"
                alt="{{selectedProject.title}} screenshot">
        </a>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, quisquam rem. Optio ex esse unde culpa
            magni
            illum quibusdam eveniet fugit maiores tenetur voluptas praesentium libero, vero veritatis quisquam aliquid
            consequuntur quas. Sapiente, assumenda. Illo magnam, delectus dolore modi, saepe tempora similique enim
            doloribus
            fugit molestias exercitationem est nostrum ducimus!
        </p>
    </div>
</div>