<div class="container">
    {{#projects}}
    <div class="project">
        <a href="/{{directory}}">
            <img src="/{{directory}}/screenshot.jpeg" alt="{{title}} screenshot">
            {{title}}
        </a>
    </div>
    {{/projects}}
</div>