* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 10px;
}

.outerBox {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr)
}

.outerBox:nth-of-type(1) {
    background: #5fa55a;

}
.outerBox:nth-of-type(2) {
    background: #fa8925;
}
.outerBox:nth-of-type(3) {
    background: #fa5457;
}
.outerBox:nth-of-type(4) {
    background: #01b4bc;
}

.outerBox:nth-of-type(1) .innerBox {
    grid-row: 1 / 2;
    grid-column: 2 / 3 ;
    background: #e3a4eb;
}
.outerBox:nth-of-type(2) .innerBox {
    grid-row: 2 / 3;
    grid-column: 2 / 3 ;
    background: #8874be;
}
.outerBox:nth-of-type(3) .innerBox {
    grid-row: 2 / 3;
    grid-column: 1 / 2 ;
    background: #ffeaa5;
}
.outerBox:nth-of-type(4) .innerBox {
    background: #f6d51f;