body {
    background: #000744;
}

.hole {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #8181b1;
}

.resetWrapper {
    background-color: #4f4f84;
}
.reset {
    background-color: white;
}

.player1,
.player2 {
    border: none;
}

.score {
    color: rgb(199, 199, 199);
}
