body {
    background: #000744;
}

.hole {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #8181b1;
}

.reset {
    color: white;
    background: rgba(255, 255, 255, 0.219);
    border: none;
}

.player1,
.player2 {
    border: none;
}
