* {
    box-sizing: border-box;
}
.board {
    display: flex;
}

.slot {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole {
    width: 14px;
    height: 14px;
    background: #5260ff;
    border-radius: 50%;
    transition: 1s;
    /* transparent with overflow border (potentially useful for animations) */
    /* transform: translate(-15px, -15px); */
    /* border: 20px solid red; */
}

/* .slot:hover .hole {
    height: 40px;
    width: 40px;
}
.slot:hover .hole.player1,
.slot:hover .hole.player2 {
    height: 40px;
    width: 40px;
} */

.player1,
.player2 {
    width: 50px;
    height: 50px;
    transition: 0.2s;
}
.player1 {
    background: #f84848;
    border: none;
}

.player2 {
    background: #38a858;
}

/* .select .holes:last-of-type {
    background: yellow;
} */

.select {
    height: 20px;
    width: 20px;
    transition: 0.2s;
}

.lose {
    height: 30px;
    width: 30px;
}
