* {
    box-sizing: border-box;
}
.board {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 450px;
}

.slot {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transition: 0.5s;
    /* transparent with overflow border (potentially useful for animations) */
    /* transform: translate(-15px, -15px); */
    /* border: 20px solid red; */
}

/* .slot:hover .hole {
    height: 40px;
    width: 40px;
}
.slot:hover .hole.player1,
.slot:hover .hole.player2 {
    height: 40px;
    width: 40px;
} */

.player1,
.player2 {
    width: 50px;
    height: 50px;
    transition: 0.2s;
}
.player1,
.player1Logo {
    background: #f84848;
}

.player2,
.player2Logo {
    background: #38a858;
}

/* .select .holes:last-of-type {
    background: yellow;
} */

.select {
    height: 25px;
    width: 25px;
    transition: 0.1s;
}

.lose {
    height: 30px;
    width: 30px;
}

.victory {
    display: none;
}

.reset {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80px;
    height: 80px;
}

.reset:focus {
    outline: none;
}

.player1Logo,
.player2Logo {
    height: 50px;
    width: 50px;
}

.player1Display,
.player2Display {
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    transition: 0.3s;
}

#sidebar {
    margin-left: 50px;
    height: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player1Logo,
.player2Logo {
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3s;
}

.player1Display p,
.score1 {
    color: #f84848;
}

.player2Display p,
.score2 {
    color: #38a858;
}

.inactive {
    opacity: 0.2;
}
.inactive p {
    font-size: 0.8em;
}
.inactive .player1Logo,
.inactive .player2Logo {
    height: 40px;
    width: 40px;
}

.inactive {
    transition: 0.3s;
}

.score {
    font-size: 7em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.playerDisplay {
    margin: 60px 0 50px 0;
}
