* {
    box-sizing: border-box;
}
/* general */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* board */
.board {
    display: flex;
    justify-content: space-between;
    max-width: 530px;
}

.slot {
    width: 14vw;
    height: 14vw;
    max-width: 80px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    transition: 0.5s;
    /* transparent with overflow border (potentially useful for animations) */
    /* transform: translate(-15px, -15px); */
    /* border: 20px solid red; */
}

/* .slot:hover .hole {
    height: 40px;
    width: 40px;
}
.slot:hover .hole.player1,
.slot:hover .hole.player2 {
    height: 40px;
    width: 40px;
} */

.player1,
.player2 {
    width: 65%;
    height: 65%;
    transition: 0.2s;
}
.player1,
.player1Logo {
    background: #f84848;
}

.player2,
.player2Logo {
    background: #38a858;
}

.select {
    transform: scale(1.5);
    transition: 0.1s;
}

.lose {
    height: 30px;
    width: 30px;
}

/* score display */

#sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.resetWrapper,
.playerDisplay,
.score {
    margin: 20px;
}
.resetWrapper,
.reset {
    width: 80px;
    height: 80px;
}
.resetWrapper {
    display: inline-block;
    border-radius: 50%;
    order: 1;
}
.reset {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.5rem;
    mask: url(redo-alt-solid.svg) center / 60% no-repeat;
    -webkit-mask: url(redo-alt-solid.svg) center / 60% no-repeat;
}

.player1Logo,
.player2Logo {
    height: 50px;
    width: 50px;
}

.player1Display,
.player2Display {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    transition: 0.3s;
}

.player1Logo,
.player2Logo {
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3s;
}

.player1Display p,
.score1 {
    color: #f84848;
}

.player2Display p,
.score2 {
    color: #38a858;
}

.inactive {
    opacity: 0.2;
}
.inactive p {
    font-size: 0.8em;
}
.inactive .player1Logo,
.inactive .player2Logo {
    height: 40px;
    width: 40px;
}

.inactive {
    transition: 0.3s;
}

.score {
    font-size: 7em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

@media (min-width: 900px) {
    body {
        flex-direction: row;
    }

    #sidebar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 0 100px;
        width: auto;
    }
    .info {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .resetWrapper {
        order: 0;
    }
}
