h1 {
    font-family: sans-serif;
    font-size: 1.7em;
}

.highlighted {
    font-weight: bold;
}

/* .results p:hover {
    font-weight: bold;
} */

input {
    font-size: 1em;
}

.results {
    cursor: pointer;
    font-family: sans-serif;
}

.no-country {
    opacity: 0.5;
    cursor: default;
}
