* {
    box-sizing: border-box;
    margin: 0;
}

html,
body,
#image {
    height: 100%;
    width: 100%;
}

.jumbo {
    position: relative;
    height: 700px;
}

.info {
    height: 330px;
    width: 100%;
}

.data {
    float: left;
    height: 100px;
    width: 50%;
    margin-top: 5%;
    overflow: hidden;
}
.dataWrapper {
    height: 300px;
    width: 80%;
    margin: 0 auto;
}
header {
    height: 50px;
    background: white;
}

#image {
    height: 100%;
    background: url('assets/reichstag.jpg') no-repeat;
    background-size: cover;
}

#image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

#logo {
    position: absolute;
    left: 1%;
    height: 50px;
    width: 120px;
    float: left;
    background: green;
    background: url('assets/sprint.svg') no-repeat center;
    background-size: 80%;
}

#menu {
    float: right;
    width: 50px;
    height: 50px;
    background: url('assets/hamburgermenu.svg') no-repeat center;
    background-size: 45%;
}

.h1wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-size: 40px;
}

.button {
    width: 250px;
    background: rgb(255, 200, 50);
    border: 2px solid chocolate;
    color: chocolate;
    font-size: 25px;
    border-radius: 40px;
    padding: 5px 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 10%;
    float: left;
    margin-bottom: 150px;
    margin-right: 25px;
}

.text {
    padding-right: 5%;
    font-size: 1.1em;
}

span {
    display: block;
    text-align: left;
}

.title {
    font-weight: bold;
}

footer {
    width: 100%;
    height: 30px;
    background: grey;
    color: white;
}

footer span {
    position: absolute;
    left: 5%;
    padding-top: 5px;
}
