* {
    box-sizing: border-box;
    margin: 0;
}

/* header */
html,
body {
    width: 100%;
}

header {
    height: 50px;
    background: white;
}

#logo {
    position: absolute;
    left: 1%;
    height: 50px;
    width: 120px;
    float: left;
    background: green;
    background: url('assets/sprint.svg') no-repeat center;
    background-size: 80%;
}

#menu {
    float: right;
    width: 50px;
    height: 50px;
    background: url('assets/hamburgermenu.svg') no-repeat center;
    background-size: 45%;
}

/* jumbo */
.jumbo {
    width: 100%;
    height: 700px;
    background: blue;
}
#image {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('assets/reichstag.jpg') no-repeat;
    background-size: cover;
}

#image::before {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.h1wrapper {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-size: 40px;
}

.button {
    text-align: center;
    width: 250px;
    background: rgb(255, 200, 50);
    border: 2px solid chocolate;
    color: chocolate;
    font-size: 25px;
    border-radius: 40px;
    padding: 5px 0;
    margin: 20px auto 0px auto;
}

.button span {
    text-align: center;
}
/* info section */

.info {
    width: auto;
    height: 600px;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
}

.dataWrapper {
    width: 80%;
    height: 100%;
    margin: 0px auto;
}

.data {
    float: left;
    height: auto;
    width: 50%;
    margin: 20px 0;
}

img {
    width: 35px;
    float: left;
}

.title {
    font-weight: bold;
}

.text {
    display: block;
    padding-right: 10%;
    font-size: 1.1em;
    padding-left: 60px;
}

span {
    display: block;
    text-align: left;
}

/* footer */
footer {
    width: 100%;
    height: 30px;
    background: grey;
    color: white;
}

footer span {
    position: absolute;
    left: 5%;
    padding-top: 5px;
}

/* responsive */
@media screen and (min-width: 300px) and (max-width: 500px) {
    .jumbo {
        height: 250px;
    }

    .h1wrapper {
        top: 50%;
        width: 70%;
    }

    h1 {
        color: white;
        font-style: italic;
        font-weight: lighter;
        font-size: 1.5em;
    }

    .button {
        text-align: center;
        width: 60%;
        background: rgb(255, 200, 50);
        border: 2px solid chocolate;
        color: chocolate;
        font-size: 1em;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 15px auto 0 auto;
    }

    .info {
        height: 550px;
    }

    .dataWrapper {
        width: 70%;
        display: block;
        height: 500px;
    }

    .data {
        width: 100%;
    }

    img {
        width: 15%;
    }

    .text {
        text-align: center;
        padding-left: 25%;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .info {
        height: 400px;
    }
}

@media screen and (min-width: 800px) and (max-width: 3000px) {
    .info {
        height: 280px;
    }
}
