* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: left;
}
.container.welcome {
    flex-wrap: wrap;
}

.container.description {
    width: 100%;
    flex-direction: column;
    margin-left: 30px;
}

.project {
    width: 330px;
    display: flex;
    flex-direction: column;
}
.project.welcome {
    align-items: center;
    margin: 20px 30px;
}

.descriptionItem h1 {
    font-weight: 100;
}

.project.description a {
    font-weight: normal;
}

.project.description.highlighted a {
    font-weight: bold;
}

#title {
    margin: 50px 0px 40px 30px;
}
a {
    text-decoration: none;
    color: black;
    line-height: 1.8em;
    font-size: 1.2em;
    font-weight: bold;
}

img {
    width: 100%;
    height: 240px;
    object-fit: contain;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
}

img.description {
    height: auto;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 50px 0 30px 30px;
    padding-top: 10px;
}

.descriptionItem {
    width: 100%;
    max-width: 800px;
    padding-right: 100px;
}

.descriptionWrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
}

@media (max-width: 650px) {
    .descriptionWrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 50px;
    }

    .descriptionItem {
        grid-row-start: 1;
        padding-left: 30px;
    }
}
